In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
# from sklearn.naive_bayes import

In [2]:
df = pd.read_csv('spam.csv')

In [3]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham          356    350  As per your request 'Melle Melle (Oru Minnamin...
spam          60     59  Congratulations ur awarded 500 of CD vouchers ...


         freq
Category
ham         3
spam        2

In [7]:
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)

In [8]:
df

    Category                                            Message  spam
0        ham  Go until jurong point, crazy.. Available only ...     0
1        ham                      Ok lar... Joking wif u oni...     0
2       spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3        ham  U dun say so early hor... U c already then say...     0
4        ham  Nah I don't think he goes to usf, he lives aro...     0
..       ...                                                ...   ...
411      ham  Come by our room at some point so we can iron ...     0
412      ham                     Cos i want it to be your thing     0
413      ham  Okies... I'll go yan jiu too... We can skip ar...     0
414      ham                           Bring home some Wendy =D     0
415     spam               100 dating service cal;l 09064012103     1

[416 rows x 3 columns]

In [26]:
x_train, x_test, y_train, y_test = train_test_split(df['Message'], df['spam'], test_size=0.2)

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
cv = CountVectorizer()

In [35]:
x_train_count = cv.transform(x_train)
x_test_count = cv.transform(x_test)

In [36]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [37]:
from sklearn.naive_bayes import MultinomialNB

In [38]:
model = MultinomialNB()

In [39]:
model.fit(x_train_count, y_train)

MultinomialNB()

In [41]:
emails = [
    "Nah I don't think he goes to usf, he lives aro..",
    "100 dating service cal;l 09064012103"
]
emails_count = cv.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [40]:
model.score(x_test_count, y_test)

0.9523809523809523

In [42]:
from sklearn.pipeline import Pipeline

In [43]:
clf = Pipeline([
    ("Vectorizer", CountVectorizer()),
    ("NB", MultinomialNB())
])

In [44]:
clf.fit(x_train, y_train)

Pipeline(steps=[('Vectorizer', CountVectorizer()), ('NB', MultinomialNB())])

In [45]:
clf.predict(emails)

array([0, 1], dtype=int64)

In [46]:
clf.score(x_test, y_test)

1.0